In [1]:
import pandas as pd

In [2]:
df_track = pd.read_csv('/app/Data/tracking-graph.tsv.gz', sep='\t', compression='gzip', header=None, names=['domain_id', 'tracking_domain_id'])

In [3]:
df_track.head()

   domain_id  tracking_domain_id
0   39156864            42889919
1   39156864            15964105
2   39156994             2283834
3   39156994            15964105
4   39156994            39260173

In [4]:
df_index = pd.read_csv('/app/Data/pld-index.tsv.gz', sep='\t', names=['domain', 'domain_id'])

In [5]:
df_index.head()

                                              domain  domain_id
0  0---------------------------------------------...          0
1  0---------------------------------------------...          1
2                                        0-----0.org          2
3                                    0-----daniel.tk          3
4                                        0----0.info          4

In [6]:
df = pd.merge(df_track, df_index, on='domain_id', how='inner')
df.head()

   domain_id  tracking_domain_id          domain
0   39156864            42889919   tutengine.com
1   39156864            15964105   tutengine.com
2   39156864             8640529   tutengine.com
3   39156864            35757837   tutengine.com
4   39156994             2283834  tuthienbao.com